

.board{
  width: 800px;
  height: 800px;
  border: 1px solid black

}
.black{
  width: 100px;
  height: 100px;
  background-color: black;
  float: left;
}

.white{
  width: 100px;
  height: 100px;
  background-color: white;
  float: left;

}